body{
    margin:0px;
    background-color: rgb(187, 184, 184);
    
}
.topo{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 38px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 134px;
}
.topo h1{
    color: hsl(179, 62%, 43%);
    font-family: sans-serif;
}
.topo p{
    color: hsl(218, 22%, 67%);
    font-size: 18px;
}
.esquerda{
    background-color: hsl(179, 62%, 43%);
    width: 300px;
    padding-left: 40px;
    border-bottom-left-radius: 8px;
}
.esquerda p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
strong{
    font-size: 24px;
    color: white;
    font-weight: bold;
}
a{
    width: 80%;
    padding: 20px;
    padding-right: 0px;
    background-color: hsl(71, 73%, 54%);
    border-radius: 10px;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}
a:hover{
    background-color: rgb(248, 248, 103);
}
a:active{
    background-color: greenyellow;
}
.direita{
    background-color: hsl(179, 62%, 43%);
    width: 342px;
    border-end-end-radius: 8px;
}
.direita p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}
ul{
    padding: 0px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.486);
}
li{
    padding-bottom: 4px;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    
}